<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><h1>Core Bundle Page de Bienvenue !</h1></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbagir-nav">
                <li class="active"><a href="">Home</a></li>
                <li><a href="gallery">Gallery</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<body>
    <h2>Bienvenue sur Move</h2>
    <div><a href="login">Connexion</a> ou <a href="register">Inscription</a></div>
</body>