<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Move{% endblock %}</title>
    <meta charset="utf-8" />

    {% block css %}{% endblock %}
</head>

<body>
{% block body %}
    <h1>Bienvenue sur Move !</h1>
    <div><a href="login">Connexion</a> ou <a href="register">Inscription</a></div>
{% endblock %}

{% block js %}{% endblock %}
</body>
</html>
